In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('C:/Users/nehal/Music/9.Machine Learning 3/Faculty Notebook/book.csv')
data.head()

,Unnamed: 0,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

## Popularity Based Filtering

In [3]:
pd.DataFrame(data.groupby('bookTitle')['bookRating'].mean().sort_values(ascending=False))

                                                  bookRating
bookTitle
Das Parfum: Die Geschichte Eines Morders           10.000000
Matilda                                             8.000000
Harry Potter and the Chamber of Secrets (Book 2)    6.720588
MÃ?Â¶rder ohne Gesicht.                             6.500000
Ender's Game (Ender Wiggins Saga (Paperback))       5.857143
...                                                      ...
The Law of Love                                     1.000000
Legend                                              0.777778
The Return                                          0.000000
Childhood's End                                     0.000000
Hannibal                                            0.000000

[198 rows x 1 columns]

In [4]:
data_pop=data.groupby('bookTitle').agg({'bookRating':'mean','totalRatingCount':'count'}).sort_values(by='bookRating',ascending=False)
data_pop[data_pop['totalRatingCount']>10].head()

,bookRating,totalRatingCount
bookTitle,,
Harry Potter and the Chamber of Secrets (Book 2),6.720588,136
Ender's Game (Ender Wiggins Saga (Paperback)),5.857143,21
Sabine's Notebook: In Which the Extraordinary Correspondence of Griffin &amp; Sabine Continues,5.785714,42
The Cat in the Hat,5.734694,49
Harry Potter and the Order of the Phoenix (Book 5),5.565693,274

In [5]:
data_pop[data_pop['totalRatingCount']>10].tail()

                    bookRating  totalRatingCount
bookTitle
Pandora's Clock       1.547170                53
Dances With Wolves    1.527273               110
Waiting to Exhale     1.230769                78
Wild Animus           1.055014              1436
The Law of Love       1.000000                14

## Content Based Reccommendataion

In [6]:
data1=pd.read_csv('C:/Users/nehal/Music/9.Machine Learning 3/Faculty Notebook/movie_metadata.csv')
data1.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
genres=data1['genres']
genres=genres.str.split('|',expand=True).iloc[:,:3]
genres

                0          1         2
0          Action  Adventure   Fantasy
1          Action  Adventure   Fantasy
2          Action  Adventure  Thriller
3          Action   Thriller      None
4     Documentary       None      None
...           ...        ...       ...
5038       Comedy      Drama      None
5039        Crime      Drama   Mystery
5040        Drama     Horror  Thriller
5041       Comedy      Drama   Romance
5042  Documentary       None      None

[5043 rows x 3 columns]

In [8]:
genres=genres.fillna('Others').rename(columns={0:'genre1',1:'genre2',2:'genre3'})
genres.head()

        genre1     genre2    genre3
0       Action  Adventure   Fantasy
1       Action  Adventure   Fantasy
2       Action  Adventure  Thriller
3       Action   Thriller    Others
4  Documentary     Others    Others

In [9]:
data1.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
data2=pd.concat([data1,genres],axis=1)
data2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,genre1,genre2,genre3
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,Action,Adventure,Fantasy
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,Action,Adventure,Fantasy
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,Action,Adventure,Thriller
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,Action,Thriller,Others
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,12.0,7.1,NaN,0,Documentary,Others,Others

In [11]:
movie_feat=['movie_title','genre1','genre2','genre3','content_rating','imdb_score']

In [12]:
data3=data2[movie_feat]
data3.head()

,movie_title,genre1,genre2,genre3,content_rating,imdb_score
0,Avatar,Action,Adventure,Fantasy,PG-13,7.9
1,Pirates of the Caribbean: At World's End,Action,Adventure,Fantasy,PG-13,7.1
2,Spectre,Action,Adventure,Thriller,PG-13,6.8
3,The Dark Knight Rises,Action,Thriller,Others,PG-13,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Documentary,Others,Others,NaN,7.1

In [13]:
data3=data3.set_index('movie_title')
data3.head()

,genre1,genre2,genre3,content_rating,imdb_score
movie_title,,,,,
Avatar,Action,Adventure,Fantasy,PG-13,7.9
Pirates of the Caribbean: At World's End,Action,Adventure,Fantasy,PG-13,7.1
Spectre,Action,Adventure,Thriller,PG-13,6.8
The Dark Knight Rises,Action,Thriller,Others,PG-13,8.5
Star Wars: Episode VII - The Force Awakens,Documentary,Others,Others,NaN,7.1

In [14]:
data3=pd.get_dummies(data3)
data3.head()

,imdb_score,genre1_Action,genre1_Adventure,genre1_Animation,genre1_Biography,genre1_Comedy,genre1_Crime,genre1_Documentary,genre1_Drama,genre1_Family,...,content_rating_Passed,content_rating_R,content_rating_TV-14,content_rating_TV-G,content_rating_TV-MA,content_rating_TV-PG,content_rating_TV-Y,content_rating_TV-Y7,content_rating_Unrated,content_rating_X
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,7.9,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Pirates of the Caribbean: At World's End,7.1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Spectre,6.8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The Dark Knight Rises,8.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Star Wars: Episode VII - The Force Awakens,7.1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data3.isna().sum().sort_values()

imdb_score           0
genre3_Reality-TV    0
genre3_Others        0
genre3_News          0
genre3_Mystery       0
                    ..
genre2_Comedy        0
genre2_Biography     0
genre2_Animation     0
genre2_Sport         0
content_rating_X     0
Length: 89, dtype: int64

In [16]:
from sklearn.neighbors import NearestNeighbors

In [17]:
model=NearestNeighbors(metric='cosine')
model.fit(data3)

NearestNeighbors(metric='cosine')

In [18]:
data3.iloc[200,:].values

array([6.2, 0. , 1. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 1. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 1. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 1. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ])

In [19]:
query_movie_index=200
dist,ind=model.kneighbors(data3.iloc[query_movie_index,:].values.reshape(1,-1),n_neighbors=6)

In [20]:
data3.index[200]

'Night at the Museum: Secret of the Tomb\xa0'

In [21]:
data3.index[ind[0]]

Index(['Sky High ', 'Night at the Museum: Secret of the Tomb ', 'Goosebumps ',
       'Goosebumps ', 'Nim's Island ',
       'Night at the Museum: Battle of the Smithsonian '],
      dtype='object', name='movie_title')

## Collaborative Based Reccomendation System

Collaborative filtering is currently one of the most frequently used approaches and usually provides better results than content-based recommendations. Some examples of this are found in the recommendation systems of Youtube, Netflix, and Spotify.
Collaborative Filtering, which is also known as User-User Filtering. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the Pearson Correlation Function.

In [23]:
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import KNNWithMeans,SVDpp
from surprise import accuracy

In [28]:
data=pd.read_csv('C:/Users/nehal/Music/9.Machine Learning 3/Faculty Notebook/ratings.csv')
reader=Reader(rating_scale=(1,5))
reader

In [32]:
rating_data=Dataset.load_from_df(data[['userId','movieId','rating']],reader)
[trainset,testset]=train_test_split(rating_data,test_size=.15,shuffle=True)